<div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Novo Arquivo</h3></div><div class="panel-body"><form class="form"><div class="form-group"><label class="form-label">Título</label><input name="titulo" class="form-control"/></div></form></div></div>