.page-header
	h3 Banners
br
.panel.panel-primary
	.panel-heading
		h3.panel-title Banners
	table.table
		tr
			th &nbsp;
			th Imagens
			th Título
		tr(ng-repeat="item in Banners")
			td
				.btn-group
					a.btn.btn-default
						i.glyphicon.glyphicon-pencil
					a.btn.btn-default
						i.glyphicon.glyphicon-picture
			td.col-md-2 {{item.BannerImg.length}}
			td {{item.Banner.ban_titulo}}
	.panel-footer.clearfix
		.btn-group.pull-right
			a.btn.btn-primary(href="#/banners/add") Novo
