.row 
  .col-md-8
    ng-include(ng-if="pagination.pageCount > 1",src="'/admin/app/common/pagination.html'")
  .col-md-4
    .input-group(style="margin-top: 20px;")
      input.form-control(ng-model="entidadeSearch")
      span.input-group-btn
        button.btn.btn-primary(ng-click="search()") Buscar
        button.btn.btn-default(ng-click="searchCancel()") Zerar
hr
.panel.panel-primary
  .panel-heading
    h3.panel-title Entidades
  .panel-body(ng-if="loading")
    ng-include(src="'/admin/app/common/loading.html'")
  table.table(ng-if="!loading")
    tr
      th &nbsp;
      th Nome
      th Cidade
      th UF
      th Link
      th Situação
    tr(ng-repeat="item in data")
      td
        .btn-group
          a.btn.btn-default(href="", ng-click="edit(item)")
            i.glyphicon.glyphicon-pencil.text-primary
          a.btn.btn-default(href="", ng-click="image(item)")
            i.glyphicon.glyphicon-picture.text-primary
          a.btn.btn-default(href="", ng-click="del(item)")
            i.glyphicon.glyphicon-trash.text-danger
      td {{item.Entidade.ent_nome}}
      td {{item.Entidade.ent_cidade}}
      td {{item.Entidade.ent_fed_uf}}
      td {{item.Entidade.ent_link}}
      td(ng-if="item.Entidade.ent_id == 1") Fenapaes
      td(ng-if="item.Entidade.ent_id != 1") {{situacoesEntidade[item.Entidade.ent_situacao]}}
  .panel-footer.clearfix
    .btn-group.pull-right
      button.btn.btn-primary(ng-click="add()") Nova
