<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/contato">Contatos</a></li>
		<li><a href="#/contato/edit/{{contato_id}}/endereco">Endereços</a>
		<li class="active">Formulário</li>
	</ul>
	<div class="well well-sm" ng-bind="related.Contato.nome"></div>
</div>
<hr>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Endereço do Contato</h3>
	</div>
	<form ng-if="form" name="formContatoEndereco">
	<div class="panel-body">
		<ng-include ng-if="!form" src="'/admin/app/includes/loading.html'"></ng-include>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Estado</label>
					<p ng-bind="form.Cidade.estado_id"></p>
					</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Cidade</label>
					<p ng-bind="form.Cidade.nome"></p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formContatoEndereco.tipo_endereco_id.$invalid}">
					<label class="control-label">Tipo</label>
					<select ng-options="item.TiposEndereco.id as item.TiposEndereco.nome for item in related.TipoEnderecos" name="tipo_endereco_id" required class="form-control" type="text" ng-model="form.ContatosEndereco.tipo_endereco_id">
						<option value="">Escolha o Tipo</option>
					</select>
					<div class="help-block">&nbsp;
						<span ng-if="formContatoEndereco.tipo_endereco_id.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formContatoEndereco.endereco.$invalid}">
					<label class="control-label">Endereço</label>
					<input name="endereco" required class="form-control" type="text" ng-model="form.ContatosEndereco.endereco">
					<div class="help-block">&nbsp;
						<span ng-if="formContatoEndereco.endereco.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-3">
				<div class="form-group" ng-class="{'has-error':formContatoEndereco.bairro.$invalid}">
					<label class="control-label">Bairro</label>
					<input name="bairro" required class="form-control" type="text" ng-model="form.ContatosEndereco.bairro">
					<div class="help-block">&nbsp;
						<span ng-if="formContatoEndereco.bairro.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" ng-class="{'has-error':formContatoEndereco.cep.$invalid}">
					<label class="control-label">CEP</label>
					<input name="cep" ng-minlength="10" required class="form-control" type="text" ng-model="form.ContatosEndereco.cep">
					<div class="help-block">&nbsp;
						<span ng-if="formContatoEndereco.cep.$error.required">Campo requerido!</span>
						<span ng-if="formContatoEndereco.cep.$error.minlength">CEP com 7 dígitos!</span>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error':formContatoEndereco.complemento.$invalid}">
					<label class="control-label">Complemento</label>
					<input name="complemento" class="form-control" type="text" ng-model="form.ContatosEndereco.complemento">
					<div class="help-block">&nbsp;
						<span ng-if="formContatoEndereco.complemento.$error.required">Campo requerido!</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<button ng-click="cancel()" class="btn btn-default">Cancelar</button>
			<button form="formContatoEndereco" type="submit" ng-disabled="formContatoEndereco.$invalid" ng-click="save()" class="btn btn-primary">Salvar</button>
		</div>
	</div>
	</form>
</div>
