<div class="clearfix">
	<ul class="breadcrumb">
		<li><a href="#/">Painel</a></li>
		<li><a href="#/contato">Contatos</a></li>
		<li class="active">Endereços</li>
	</ul>
	<div class="well well-sm">
		{{related.Contato.nome}}
	</div>
</div>
<hr>
<ng-include src="'/admin/app/includes/pagination.html'"></ng-include>

<div class="panel panel-primary">
	
	<div class="panel-heading">
		<h3 class="panel-title">Endereços de Contato</h3>
	</div>
	<div class="panel-body">
		<div>
			<div class="btn-group">
				<a href="#/contato/edit/{{form.Contato.id}}" class="btn btn-default">Dados</a>
				<a href="#/contato/edit/{{form.Contato.id}}/telefone" class="btn btn-default">Telefones</a>
				<a href="#/contato/edit/{{form.Contato.id}}/email" class="btn btn-default">Emails</a>
				<a href="" class="btn btn-default disabled">Endereços</a>
			</div>
		</div>
		<ng-include ng-if="data.length==0" src="'/admin/app/includes/loading.html'"></ng-include>
	</div>
	<table ng-if="data.length > 0" class="table table-center table-hover">
		<tr>
			<th class="col-md-2">&nbsp;</th>
			<th>Tipo</th>
			<th>Endereço</th>
			<th>Bairro</th>
			<th>Cidade</th>
			<th>Estado</th>
		</tr>
		<tr ng-repeat="item in data">
			<td>
				<ng-include src="'/admin/app/includes/recordActions.html'"></ng-include>
			</td>
			<td>{{item.TiposEndereco.nome}}</td>
			<td>{{item.ContatosEndereco.endereco}}</td>
			<td>{{item.ContatosEndereco.bairro}}</td>
			<td>{{item.Cidade.nome}}</td>
			<td>{{item.Cidade.estado_id}}</td>
		</tr>
	</table>
	<div class="panel-footer clearfix">
		<div class="btn-group pull-right">
			<a href="#/contato/edit/{{contato_id}}/email/add" class="btn btn-default">Adicionar</a>
		</div>
	</div>
</div>
