<div class="page-header">
	<h3>Notícias</h3>
</div>
<ng-include src="'/web/app/includes/pagination.html'"></ng-include>
<table class="table table-hover">
	<tr>
		<th class="col-md-6">Título</th>
		<th>Data</th>
	</tr>
	<tr ng-repeat="item in noticias">
		<td><a href="#/noticia/{{item.Noticia.not_id}}">{{item.Noticia.not_titulo}}</a></td>
		<td>{{item.Noticia.not_data|date:'dd/MM/yyyy HH:i'}}</td>
	</tr>
</table>
