<ng-include ng-if="loading" src="'/web/app/common/loading.html'"></ng-include>
<div class="panel panel-primary" ng-if="artigo">
	<div class="panel-heading">
		<h3 class="panel-title">{{artigo.Artigo.sec_titulo}}</h3>
	</div>
	<div class="panel-body">
		<p ng-bind-html="to_trusted(artigo.Artigo.sec_conteudo)" style="text-align: justify !important"></p>
		<hr>
		<div class="row clearfix">
			<div class="pull-left">&nbsp;&nbsp;</div>
			<div class="pull-left" fb-like></div>
			<div class="pull-left">&nbsp;&nbsp;</div>
			<div class="pull-left" google-plus></div>
		</div>
	</div>
</div>
