nav.navbar.navbar-default.navbar-fixed-top
	.container-fluid
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#/") Sites Fenapaes
		// Collect the nav links, forms, and other content for toggling
		.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
			ul.nav.navbar-nav
				li
					a(href="#/menus") Menus
				li
					a(href="#/entidades") Entidades
				li
					a(href="#/estados") Estados
				li.dropdown
					a.dropdown-toggle(ng-href="",data-toggle="dropdown",role="button",aria-expanded="false") Notícias 
						span.caret
					ul.dropdown-menu(role="menu")
						li
							a(ng-href="#/noticiascat") Categorias de Notícias
						li
							a(ng-href="#/noticias") Notícias
				li
					a(href="#/paginas") Páginas
				li.dropdown
					a.dropdown-toggle(ng-href="",data-toggle="dropdown",role="button",aria-expanded="false") Arquivos 
						span.caret
					ul.dropdown-menu(role="menu")
						li
							a(ng-href="#/arquivostop") Tópicos de Arquivos
						li
							a(ng-href="#/arquivos") Arquivos
				li
					a(href="#/banners") Banners
				li
					a(href="#/fotos") Fotos / Galerias
			ul.nav.navbar-nav.navbar-right
				li
					a(href="#") Usuário
				li.dropdown
					a.dropdown-toggle(href="#",data-toggle="dropdown",role="button",aria-expanded="false") Perfil 
						span.caret
					ul.dropdown-menu(role="menu")
						li
							a(href="/perfil") Perfil
						li
							a(href="/logout") Sair

			form.navbar-form.navbar-right(role="theme")
				.form-group
					select.form-control(ng-model="selectedTheme",ng-options="item.name.toLowerCase() as item.name for item in BootswatchThemes")
				button.btn.btn-default(ng-click="changeTheme(selectedTheme)") Alterar
				
