.page-header
	h3 Menus

.row(ng-if="!addEditMenu")
	.col-md-12
		.btn-group
			a.btn.btn-default(ng-click="changeToSup()",ng-class="{'btn-default':men_tipo=='v','btn-primary':men_tipo=='h'}") Superior
			a.btn.btn-default(ng-click="changeToInf()",ng-class="{'btn-default':men_tipo=='h','btn-primary':men_tipo=='v'}") Inferior
br
div(ng-include="'/admin/app/Menu/form.html'", ng-if="addEditMenu")

.row(ng-if="!addEditMenu")
	.col-md-4
		ng-include(src="'/admin/app/Menu/list1.html'")
	.col-md-4
		ng-include(src="'/admin/app/Menu/list2.html'")
	.col-md-4
		ng-include(src="'/admin/app/Menu/list3.html'")
