.panel.panel-success
	.panel-heading
		h3.panel-title Terceiro Nível
	.panel-body(ng-if="loading[3]")
		div(ng-include="'/admin/app/common/loading.html'")
	.panel-body(ng-if="norecords[3]")
		div(ng-include="'/admin/app/common/norecords.html'")
	.panel.body(ng-if="!loading[3] && !norecords[3] && Menus[3]")
		ul.list-group.levelMenus(data-as-sortable="dragControlListeners",data-ng-model="Menus[3]")
			li.list-group-item(ng-repeat="item in Menus[3]",data-as-sortable-item)
				div(data-as-sortable-item-handle)
					h4.list-group-item-heading.pointer {{item.Menu.men_titulo}}
					.list-group-item-text
						.btn-group(tooltip="Posição")
							button.btn.btn-default.btn-xs.disabled {{($index+1)*10}}
						| &nbsp;
						.btn-group(ng-if="!item.Menu.men_fixo")
							button.btn.btn-default.btn-xs(ng-click="editMenu(item)",tooltip="Editar")
								i.glyphicon.glyphicon-pencil
							button.btn.btn-default.btn-xs(ng-click="deleteMenu(item)",tooltip="Excluir",ng-class="{disabled:item.Submenu1.length>0}")
								i.glyphicon.glyphicon-trash
							button.btn.btn-default.btn-xs(ng-click="alteraPai(item)", tooltip="Alterar Pai")
								i.glyphicon.glyphicon-chevron-right
						.btn-group(ng-if="selecionaPaiId && selecionaPaiId != item.Menu.men_id")
							button.btn.btn-default.btn-xs(ng-click="configPai(item)", tooltip="Configurar Pai")
								i.glyphicon.glyphicon-ok
							button.btn.btn-default.btn-xs(ng-click="cancelaPai()", tooltip="Cancelar")
								i.glyphicon.glyphicon-remove
						.btn-group(ng-if="selecionaPaiId && selecionaPaiId == item.Menu.men_id")
							button.btn.btn-default.btn-xs(ng-click="configPaiNone(item)", tooltip="Nenhum Pai")
								i.glyphicon.glyphicon-ok
							button.btn.btn-default.btn-xs(ng-click="cancelaPai()", tooltip="Cancelar")
								i.glyphicon.glyphicon-remove
	.panel-footer(ng-if="Menus[3]")
		button.btn.btn-default(ng-click="addMenu(1)",tooltip="Novo Menu") Novo
		button.btn.btn-primary.pull-right(ng-click="saveOrderMenu(3)") Salvar