.page-header
	h3 Notícias
br
div(ng-include="'/admin/app/common/pagination.html'")
.panel.panel-primary
	.panel-heading.clearfix
		h3.panel-title Notícias
			span.pull-right Página {{pagination.page}} de {{pagination.pageCount}}
	.panel-footer.clearfix
		.btn-group.pull-right
			a.btn.btn-primary(ng-click="add()") Nova
	.panel-body(ng-if="loading")
		div(ng-include="'/admin/app/common/loading.html'")
	.panel-body(ng-if="norecords")
		div(ng-include="'/admin/app/common/norecords.html'")
	table.table(ng-if="!loading && !norecords")
		tr
			th &nbsp;
			th Data
			th Título
		tr(ng-repeat="item in Noticias")
			td
				a.btn.btn-default(ng-click="edit(item)",tooltip="Editar")
					i.glyphicon.glyphicon-pencil
			td.col-md-2 {{item.Noticia.not_data | date:'dd/MM/yyyy'}}
			td {{item.Noticia.not_titulo}}
