<nav class="navbar navbar-default" role="navigation" style="margin-bottom: 0">
	<div class="container-fluid bg-primary">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav" id="main-menu">
				<li ng-repeat="menu in bottomMenus">
					<a style="color: #fff;" href="{{menu.Menu.men_link}}">{{menu.Menu.men_titulo}}</a>
					<ul ng-if="menu.Submenu1.length > 0">
						<li ng-repeat="sub1 in menu.Submenu1">
							<a style="color: #fff;" href="{{sub1.men_link}}">{{sub1.men_titulo}}</a>
							<ul ng-if="sub1.Submenu2.length > 0" class="dropdown-menu">
								<li ng-repeat="sub2 in sub1.Submenu2">
									<a href="{{sub2.men_link}}">{{sub2.men_titulo}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>