<div id="headerRybena">
	<div class="rybena">
		<div class="btn-group">
			<button class="btn btn-default" ng-click="startVox()">
				<i class="fa fa-volume-up"></i>&nbsp;Voz</button>
			<button class="btn btn-default" ng-click="startLibras()">Libras</button>
		</div>
		<!--img width="135px" height="37px" usemap="#rybenamapTopo" alt="Rybena;" src="http://www.grupoicts.com.br/barraRybena.png" border="0" style="width: 135px; height: 37px;"-->
		<!--map id="rybenamapTopo" name="rybenamapTopo">
			<area style="cursor: pointer; background-color: Green;" class="grupoicts" title="Grupo ICTS" alt="Grupo ICTS" coords="0,1,66,32" href="http://www.grupoicts.com.br/" target="_blank" shape="rect">
			<area style="cursor: pointer" class="areaRybenaLibras" title="Clique aqui para traduzir para LIBRAS o texto selecionado." alt="Clique aqui para traduzir para LIBRAS o texto selecionado." coords="70,0,99,29" shape="rect">
			<area style="cursor: pointer; background-color: Green;" class="areaRybenaTTS" title="Clique aqui para ouvir o texto selecionado." alt="Clique aqui para ouvir o texto selecionado." coords="105,1,138,32" shape="rect">
		</map-->
		<div id="rybenaDiv" style="background-image: url('http://www.rybena.com.br/RybenaRepository/resource/img/borda_libras.png'); height: 358px; width: 211px; position: fixed; top: 60px; left: 570px; align: center; visibility: hidden; z-index: 9999;">
			<div onclick="fecharLibras();" title="Fechar" style="height: 24px; width: 22px; position: relative; top: 3px; left: 182px;"></div><div style="position: absolute; top: 37px; left: 9px; margin-left: auto; margin-right: auto;">
				<img id="rybenaImage" alt="Rybená" src="http://www.rybena.com.br/RybenaRepository/resource/img/rybeninha_idle.gif" width="194" border="0" style="width: 194px;">
			</div>
			<div style="position: absolute; top: 297px; width: 211px; text-align: center;">
				<label id="rybenaLabel" style="font-family: arial, helvetica; font-size: 12px; font-weight: bold; text-align: center;">Rybená</label>
			</div>
			<div style="position: absolute; top: 320px; left: 58px;">
				<img id="playBtn" onclick="repeatRybena();" alt="play" src="http://www.rybena.com.br/RybenaRepository/resource/img/play.png" onmouseover="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/playSub.png'" onmouseout="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/play.png'" border="0" title="Traduzir">
				<img id="pauseBtn" onclick="pauseRybena();" alt="pause" src="http://www.rybena.com.br/RybenaRepository/resource/img/pause.png" onmouseover="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/pauseSub.png'" onmouseout="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/pause.png'" border="0" style="visibility: hidden; position: absolute; left: -1px; top: -1px; " title="Pausar Tradução">
				<img id="stopBtn" onclick="stopRybena();" alt="stop" src="http://www.rybena.com.br/RybenaRepository/resource/img/stop.png" onmouseover="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/stopSub.png'" onmouseout="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/stop.png'" border="0" title="Parar Tradução">
				<!--<img id="repeatBtn" onclick="repeatRybena();" alt="repeat" src="http://www.rybena.com.br/RybenaRepository/resource/img/repeat.png" onmouseover="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/repeatSub.png'" onmouseout="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/repeat.png'" border="0" title="Repetir texto já traduzido">-->
				<img id="speedUpBtn" onclick="speedUpRybena();" alt="speedUp" src="http://www.rybena.com.br/RybenaRepository/resource/img/speedUp.png" onmouseover="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/speedUpSub.png'" onmouseout="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/speedUp.png'" border="0" title="Aumentar velocidade de tradução">
				<img id="speedDownBtn" onclick="speedDownRybena();" alt="speedDown" src="http://www.rybena.com.br/RybenaRepository/resource/img/speedDown.png" onmouseover="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/speedDownSub.png'" onmouseout="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/speedDown.png'" border="0" title="Diminuir velocidade de tradução">
			</div>
		</div>
		<div id="rybenaVozDiv" style="background-image: url('http://www.rybena.com.br/RybenaRepository/resource/img/borda_libras.png'); height: 358px; width: 211px; position: fixed; top: 60px; left: 570px; align: center; visibility: hidden; z-index: 9999;">
			<div onclick="fecharTTS();" title="Fechar" style="height: 24px; width: 22px; position: relative; top: 3px; left: 182px;"></div>
			<div style="position: absolute; top: 37px; left: 9px; margin-left: auto; margin-right: auto;"><img id="rybenaVozImage" alt="RybenáVoz" src="http://www.rybena.com.br/RybenaRepository/resource/img/rybeninha_voz_idle.gif" width="194" border="0"></div>
			<div style="position: absolute; top: 297px; width: 211px; text-align: center;">
				<label id="rybenaVozLabel" style="font-family: arial, helvetica; font-size: 12px; font-weight: bold; text-align: center;"></label>
			</div>
			<div style="position: absolute; left: 5px; top: 28px; width: 200px; height: 38px; text-align: center;">
				<audio onloadstart="onloadTTS();" oncanplay="onplayTTS();" onended="pauseTTS();" onerror="pauseTTS();" id="tts" hidden="hidden">
					<source src="" type="">
					Seu Navergador não suporta Audio HTML5+.
				</audio>
			</div>
			<div style="position: absolute; top: 320px; left: 80px;">
				<img id="playBtnVoz" onclick="playTTS();" alt="play" src="http://www.rybena.com.br/RybenaRepository/resource/img/play.png" onmouseover="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/playSub.png'" onmouseout="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/play.png'" border="0" title="Traduzir" ondblclick="playTTS();">
				<img id="stopBtn" onclick="pauseTTS();" alt="stop" src="http://www.rybena.com.br/RybenaRepository/resource/img/stop.png" onmouseover="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/stopSub.png'" onmouseout="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/stop.png'" border="0" title="Parar Tradução">
				<!--<img id="restartTTS();" onclick="repeatSound();" alt="repeat" src="http://www.rybena.com.br/RybenaRepository/resource/img/repeat.png" onmouseover="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/repeatSub.png'" onmouseout="this.src='http://www.rybena.com.br/RybenaRepository/resource/img/repeat.png'" border="0" title="Repetir texto já traduzido">-->
			</div>
		</div>
	</div>
</div>
