<div class="page-header">
	<h3>Notícias</h3>
</div>
<div class="clearfix">
	<div class="pull-right btn-default" style="margin: 20px 0;">
		<a class="btn btn-default" href="#/noticias/2007">2007</a>
		<a class="btn btn-default" href="#/noticias/2008">2008</a>
		<a class="btn btn-default" href="#/noticias/2009">2009</a>
		<a class="btn btn-default" href="#/noticias/2010">2010</a>
		<a class="btn btn-default" href="#/noticias/2011">2011</a>
		<a class="btn btn-default" href="#/noticias/2012">2012</a>
		<a class="btn btn-default" href="#/noticias/2013">2013</a>
		<a class="btn btn-default" href="#/noticias/2014">2014</a>
		<a class="btn btn-default" href="#/noticias/2015">2015</a>
	</div>
	<ng-include src="'/web/app/includes/pagination.html'"></ng-include>
</div>
<div ng-if="loading">
	<ng-include src="'/web/app/common/loading.html'"></ng-include>
</div>

<table class="table table-hover table-bordered" ng-if="!loading">
	<tr class="active">
		<th class="col-md-2">Data</th>
		<th>Título</th>
	</tr>
	<tr ng-repeat="item in noticias">
		<td>{{item.Noticia.not_data|date:'dd/MM/yyyy HH:mm'}}</td>
		<td><a href="#/noticia/{{item.Noticia.not_id}}">{{item.Noticia.not_titulo}}</a></td>
	</tr>
</table>
