<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{noticia.Noticia.not_titulo}}</h3>
	</div>
	<div class="panel-body" ng-if="loading">
		<ng-include src="'/web/app/common/loading.html'"></ng-include>
	</div>
	<div class="panel-body clearfix" ng-if="!loading">
		<small>{{noticia.Noticia.not_fonte}} - {{noticia.Noticia.not_data | date }}</small>
		<hr>
		<div class="row" ng-if="noticia.Album.length > 0">
			<div class="col-md-6 col-md-offset-3">
				<carousel interval="3000">
					<slide ng-repeat="album in noticia.Album" active="album.active">
						<a href=""><img style="height: 400px" ng-src="/foto.phtml/{{album.fot_id}}/g" style="margin:auto;"></a>
					</slide>
				</carousel>
			</div>
		</div>
		<div class="pull-right btn-group" ng-if="noticia.Anexo.length > 0">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					Anexos
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li ng-repeat="item in noticia.Anexo" role="presentation"><a role="menuitem" href="/web/anexos/view/{{item.ana_id}}">{{item.ana_titulo}}</a></li>
				</ul>
			</div>
		</div>
		<hr ng-if="noticia.Anexo.length > 0">
		<p style="text-align: justify !important" ng-bind-html="to_trusted(noticia.Noticia.not_conteudo)"></p>
		<hr>
		<div class="row clearfix">
			<div class="pull-left">&nbsp;&nbsp;</div>
			<div class="pull-left" fb-like></div>
			<div class="pull-left">&nbsp;&nbsp;</div>
			<div class="pull-left" google-plus></div>
		</div>
	</div>
</div>
