.row
	.col-md-6
		map.google-map(ng-transclude,center="[-15,-49]",zoom="4",options="map.options")
			points(coords="points.coords", options="points.options", properties="points.properties", events="points.events")
	.col-md-6
		div(ng-if="!entSelected")
			.page-header
				h3 Selecione o Estado
		.panel.panel-primary(ng-if="entSelected")
			.panel-heading
				span.panel-title {{entSelected.Entidade.ent_nome}}
			.panel-body
				| {{entSelected.Entidade.ent_endereco}} - {{entSelected.Entidade.ent_bairro}}<br>
				| {{entSelected.Entidade.ent_cidade}} - {{entSelected.Entidade.ent_cep }}<br>
				| http://{{entSelected.Entidade.ent_link}}
			.panel-footer(clearfix)
				.btn-group
					a.btn.btn-primary(href="http://{{entSelected.Entidade.ent_link}}",target="_blank") Acessar
		.panel.panel-primary(ng-if="apaeDFSelected")
			.panel-heading
				span.panel-title {{apaeDFSelected.Entidade.ent_nome}}
			.panel-body
				| {{apaeDFSelected.Entidade.ent_endereco}} - {{apaeDFSelected.Entidade.ent_bairro}}<br>
				| {{apaeDFSelected.Entidade.ent_cidade}} - {{apaeDFSelected.Entidade.ent_cep }}<br>
				| http://{{apaeDFSelected.Entidade.ent_link}}.apaebrasil.org.br
			.panel-footer(clearfix)
				.btn-group
					a.btn.btn-primary(href="http://brasilia.apaebrasil.org.br",target="_blank") Acessar
		.panel.panel-default(ng-if="entSelected && !apaeDFSelected")
			.panel-heading
				span.panel-title Apaes do Estado
			table.table
				tr(ng-repeat="item in Entidades",ng-if="item.Entidade.ent_id < 10000 && (item.Entidade.ent_situacao == 'a' || item.Entidade.ent_id == 1258)")
					td {{ item.Entidade.ent_nome }}
					td
						a(ng-if="item.Entidade.ent_situacao=='a'",href="http://{{ item.Entidade.ent_link }}.apaebrasil.org.br",target="_blank") Accessar
						a(ng-if="item.Entidade.ent_id==1258",href="http://brasilia.apaebrasil.org.br",target="_blank") Accessar
