<div class="page-header">
	<h2>Fale Conosco</h2>
</div>
<div class="row">
	<div class="col-md-8">
		<p>
		Para tirar dúvidas, obter informações e orientações, a Fenapaes disponibiliza de forma personalidade e unificada o serviço de atendimento ao usuário ás suas filiadas e público em geral.
		</p>
		<p>
		Entre em contato com nossa central de atendimento pelos contatos:<br>
		<br>
		E-mail: fenapaes@apaebrasil.org.br<br>
		<br>
		Telefones: 55(61)3224-9922 e 55(61)3223-8072
		</p>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="panel-title">Deixe aqui sua mensagem</span>
			</div>
			<div class="panel-body">
				<form id="ContatoForm" action="mailto:desenvolvimento@apaebrasil.org.br">
					<div class="form-group">
						<label>Nome</label>
						<input type="text" name="nome" class="form-control">
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="email" name="email" class="form-control">
					</div>
					<div class="form-group">
						<label>Assunto</label>
						<input type="text" name="assunto" class="form-control">
					</div>
					<div class="form-group">
						<label>Mensagem</label>
						<textarea name="mensagem" rows="5" class="form-control"></textarea>
					</div>
				</form>
			</div>
			<div class="panel-footer clearfix">
				<input type="submit" form="ContatoForm" value="Enviar" class="btn btn-primary pull-right">
			</div>
		</div>
	</div>
</div>
