<div class="page-header">
	<h2>O que Fazemos ?</h2>
</div>

<h3>O Movimento Apaeano</h3>
<p>O Movimento Apaeano é uma grande rede, constituída por pais, amigos, pessoas com deficiência, voluntários, profissionais e instituições parceiras - públicas e privadas - para a promoção e defesa dos direitos de cidadania da pessoa com deficiência e a sua inclusão social.
Atualmente o Movimento congrega a Fenapaes - Federação Nacional das Apaes, 23 Federações das Apaes nos Estados e mais de duas mil cento e quarenta e três Apaes distribuídas em todo o País, que propiciam diariamente atenção integral a cerca de 250.000 pessoas com deficiência. É o maior movimento social do Brasil e do mundo, na sua área de atuação.</p>

<h3>A Fenapaes</h3>
<p>A Fenapaes - Federação Nacional das Apaes  é uma organização social sem fins lucrativos, reconhecida como de utilidade pública federal e certificada como beneficente de assistência social; de caráter cultural, assistencial e educacional, que congrega como filiadas, atualmente, mais de duas mil Apaes e outras entidades congêneres, que compõem a Rede Apae, tendo como Missão institucional promover e articular ações de defesa dos direitos das pessoas com deficiência e representar o Movimento perante os organismos nacionais e internacionais, para a melhoria da qualidade dos serviços prestados pelas Apaes, na perspectiva da inclusão social de seus usuários.</p>

<h3>A Feapaes</h3>
<p>A Federação das Apaes do Estado  é uma associação civil, beneficente  de assistência social, de assessoramento, de defesa e garantia de direitos com foco no fortalecimento do Movimento social da pessoa com deficiência, formação e capacitação de lideranças, defesa, efetivação e construção de novos direitos,  promoção da cidadania, enfrentamento das desigualdades sociais, articulação com órgãos públicos de defesa de direitos, dirigidos ao público da política de assistência social, nas áreas da educação, saúde, esporte, cultura, formação do trabalho,  estudo e pesquisa,  sem fins lucrativos e de fins não econômicos, com duração indeterminada, tendo  do seu estado.</p>
<p>A Federação das Apaes do Estado tem por Missão promover e articular ações de defesa dos direitos das pessoas com deficiência e representar o Movimento perante os organismos estaduais, para a melhoria da qualidade dos serviços prestados pelas Apaes, na perspectiva da inclusão social de seus usuários.</p>

<h3>A Apae</h3>
<p>A Apae - Associação de Pais e Amigos dos Excepcionais nasceu em 1954, no Rio de Janeiro. Caracteriza-se por ser uma organização social, cujo objetivo principal é promover a atenção integral à pessoa com deficiência, prioritariamente aquela com deficiência intelectual e múltipla. A Rede Apae destaca-se por seu pioneirismo e capilaridade, estando presente, atualmente, em mais de 2 mil municípios em todo o território nacional desde o ano de 1.954.</p>

