<div class="bg-info rodape" style="padding: 10px;">
	<ul class="menu-rodape">
		<li style="display: inline-block; vertical-align: top; margin-right: 20px;">
			<h4>Sala de Soluções</h4>
			<ul class="sm sm-vertical sm-simple">
				<li><a href="/artigo/view/22309" target="">Quem somos</a></li>
				<li><a href="/artigo/view/22310" target="">Peguntas frequentes</a></li>
				<li><a href="http://www.apaebrasil.org.br/contato.phtml" target="">Fale Conosco</a></li>
				<li><a href="http://www.apaebrasil.org.br/contato-enquete.phtml" target="">Avalie nosso atendimento</a></li>
				<li><a href="/artigo/view/19698" target="">PDDE </a></li>
				<li><a href="/artigo/view/22311" target="">CEBAS</a></li>
				<li><a href="/artigo/view/22312" target="">Utilidade Pública Federal</a></li>
				<li><a href="/artigo/view/10183" target="">Informações da Rede Apae</a></li>	
			</ul>
		</li>
		<li style="display: inline-block; vertical-align: top; margin-right: 20px;">
			<h4>Serviços e mais</h4>
			<ul class="sm sm-vertical sm-simple">
				<li><a href="http://webmail.apaebrasil.org.br" target="_blank">Webmail Apae Brasil</a></li>
				<li><a href="/Artigo/view/21141" target="">Sisapae</a></li>
				<li><a href="/Noticia/view/37366" target="">Notícias em Movimento</a></li>
				<li><a href="#" target="">Avalie nosso Atendimento</a></li>
				<li><a href="/Artigo/view/19698" target="">PDDE - Programa Dinheiro Direto na Escola</a></li>
				<li><a href="/Artigo/view/101" target="">Progamas</a></li>
				<li><a href="/Arquivo/view/10039" target="">Debate Virtual</a></li>
			</ul>
		</li>
		<li style="display: inline-block; vertical-align: top">
			<h4>Links</h4>
			<ul class="sm sm-vertical sm-simple">
				<li><a href="/Artigo/view/42" target="">Links</a></li>
				<li><a href="/Artigo/view/12954" target="">Parceiros e Coloboradores</a></li>
				<li><a href="/Noticia/view/28509" target="">Download da marca e Bandeiras</a></li>
				<li><a href="/Artigo/view/19230" target="">Pesquisas</a></li>
				<li><a href="/Artigo/view/20811" target="">Histórico de Notícias</a></li>
			</ul>
		</li>
	</ul>
</div>