<div class="col-md-3">
	<a href="#/"><img style="width:100%;" src="/web/img/1.jpg"></a>
</div>
<div class="col-md-7" ng-controller="rybenaController">
	<ng-include ng-if="rybenaActive" class="pull-right" src="'/web/app/rybena/box.html'"></ng-include>
</div>
<div class="col-md-2">
	<div class="pull-right">
		<a target="_blank" href="https://www.facebook.com/fenapaes.apaebrasil"><i class="fa fa-2x fa-facebook"></i></a>
		<a target="_blank" href="https://twitter.com/apaeemrede"><i class="fa fa-2x fa-twitter"></i></a>
		<a target="_blank" href="https://www.youtube.com/user/Fenapaes"><i class="fa fa-2x fa-youtube"></i></a>
		<a target="_blank" href="https://instagram.com/Apaebrasil"><i class="fa fa-2x fa-instagram"></i></a>
	</div>
</div>
