<style >
	.carousel-indicators {
		display: none !important;
	}
</style>

<div class="row">
	<div class="col-md-12">
		<carousel interval="3000">
			<slide ng-repeat="slide in slides" active="slide.active">
				<a target="{{(slide.blank)?('_blank'):('_self')}}" href="{{slide.href}}"><img style="height: 400px;" ng-src="{{slide.image}}" style="margin:auto;"></a>
			</slide>
		</carousel>
	</div>
</div>
<br>
<div class="row">
<div class="col-md-3">
	<div class="panel panel-primary" ng-if="!loading.banners">
		<div class="panel-heading">
			<h3 class="panel-title">Banners</h3>
		</div>
		<div class="panel-body" ng-if="loading.banners" >
			<ng-include src="'/web/app/includes/loading.html'"></ng-include>
		</div>
		<div class="panel-body">
			<carousel interval="3000">
				<slide ng-repeat="slide in Banners" active="slide.active">
					<a ng-click="linkBanner(slide)" style="cursor:pointer;">
						<img style="height: 230px;" ng-src="http://apaeminas.org.br/banner.phtml?i={{slide.BannerImg[0].bai_id}}" style="margin:auto;">
					</a>
				</slide>
			</carousel>
		</div>
	</div>

	<div class="panel panel-warning">
		<div class="panel-heading">
			<span class="panel-title">Vídeos</span>
			<a class="pull-right" href="#/video" data-toggle="tooltip" data-placement="top" title="veja mais 11 vídeos..."><i class="glyphicon glyphicon-plus-sign"></i></a>
		</div>
		<div class="panel-body" ng-if="loading.videos">
			<ng-include src="'/web/app/includes/loading.html'"></ng-include>
		</div>
		<div class="panel-body" style="max-height: 700px; overflow:auto;">
			<div class="embed-responsive embed-responsive-4by3">
				<iframe class="embed-responsive-item" ng-src="{{trustSrc(lastVideo)}}"></iframe>
			</div>
		</div>
	</div>

</div>
<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<span class="panel-title">Notícias</span>
			<div class="pull-right">
				<button ng-click="emDestaque()" class="btn btn-sm" ng-class="{'btn-info':newsType=='destaque','btn-default':newsType!='destaque'}">Destaques</button>
				<button ng-click="asUltimas()" class="btn btn-sm" ng-class="{'btn-info':newsType=='ultimas','btn-default':newsType!='ultimas'}">Últimas</button>
				<button ng-click="todasNoticias()" class="btn btn-sm btn-default">Todas</button>
			</div>
		</div>
		<div class="panel-body" ng-if="loading.noticias">
			<ng-include src="'/web/app/includes/loading.html'"></ng-include>
		</div>
		<div class="panel-body" ng-if="!loading.noticias">
			<div class="row">
				<div ng-repeat="item in Noticias" class="col-md-6" style="height: 140px; overflow: hidden;">
					<a class="pull-left" href="#/noticia/{{item.Noticia.not_id}}">
						<img class="img-rounded" 
style="margin: 5px 10px;" 
src="http://apaeminas.org.br/noticia-destaque.phtml?d={{item.Noticia.not_id}}">
					</a>
					<div class="media-body">
						<div><h4>{{item.Noticia.not_data|date:'dd/MM HH:mm'}}</h4></div>
						<div class="label label-warning pull-right">{{item.Noticia.coc_id}}</div>
						<div class="media-heading">
							<a href="#/noticia/{{item.Noticia.not_id}}">{{item.Noticia.not_titulo}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>	</div>
