.page-header
	h3 Arquivos
br
.panel.panel-primary
	.panel-heading
		h3.panel-title Arquivos
	table.table
		tr
			th &nbsp;
			th Data
			th Título
			th Tópico
			th Tamanho
			th Acessos
		tr(ng-repeat="item in Arquivos")
			td
				a.btn.btn-default
					i.glyphicon.glyphicon-pencil
			td.col-md-2 {{item.Arquivo.arq_data | date:'dd/MM/yyyy'}}
			td {{item.Arquivo.arq_titulo}}
			td {{item.ArquivoTop.art_titulo}}
			td {{item.Arquivo.arq_tamanho}}
			td {{item.Arquivo.arq_acessos}}
	.panel-footer.clearfix
		.btn-group.pull-right
			a.btn.btn-primary(href="#/arquivos/add") Novo
